section {
  padding: 5.55rem 0;
}
a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-family: Poppins, sans-serif;
}
li {
  list-style-type: none;
}
.heading {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.container {
  width: 92%;
  margin: 0px auto;
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-between;
}
.col__2 {
  width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.col__3 {
  width: 33.333333%;
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
}
.col__6 {
  width: 16.5%;
  display: flex;
  padding: 5px;
  justify-content: center;
  flex-direction: column;
}

svg {
  stroke-width: 1;
}

strong {
  color: #f9004d;
  font-weight: 600;
}

p {
  color: rgba(198, 201, 216, 0.75);
  font-size: 1rem;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  margin-bottom: 15px;
}

/* RESPONSIVE */
@media (max-width: 950px) {
  .col__6 {
    width: 33%;
  }
  .col__2 {
    width: 100%;
    padding-top: 0;
  }
  .col__3 {
    width: 50%;
  }
  .heading {
    text-align: center;
    margin-bottom: 1.38rem;
    font-size: 2.77rem;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .col__6 {
    width: 50%;
  }
  .col__3 {
    width: 100%;
  }
  .heading {
    font-size: 2rem;
  }
}
